<div>
  <h2 id="page-heading" data-cy="ClienteHeading">
    <span jhiTranslate="clientetagdevsapplicationApp.cliente.home.title">Clientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="clientetagdevsapplicationApp.cliente.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cliente"
        [routerLink]="['/cliente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="clientetagdevsapplicationApp.cliente.home.createLabel"> Criar novo Cliente </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
    <span jhiTranslate="clientetagdevsapplicationApp.cliente.home.notFound">Nenhum Cliente encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="clientes && clientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="clientetagdevsapplicationApp.cliente.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="foto">
            <div class="d-flex">
              <span jhiTranslate="clientetagdevsapplicationApp.cliente.foto">Foto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataNascimento">
            <div class="d-flex">
              <span jhiTranslate="clientetagdevsapplicationApp.cliente.dataNascimento">Data Nascimento</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="possuiBeneficioAtivo">
            <div class="d-flex">
              <span jhiTranslate="clientetagdevsapplicationApp.cliente.possuiBeneficioAtivo">Possui Beneficio Ativo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rendaBruta">
            <div class="d-flex">
              <span jhiTranslate="clientetagdevsapplicationApp.cliente.rendaBruta">Renda Bruta</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="responsavelLegal.nome">
            <div class="d-flex">
              <span jhiTranslate="clientetagdevsapplicationApp.cliente.responsavelLegal">Responsavel Legal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a>
          </td>
          <td>{{ cliente.name }}</td>
          <td>
            <a *ngIf="cliente.foto" (click)="openFile(cliente.foto, cliente.fotoContentType)">
              <img [src]="'data:' + cliente.fotoContentType + ';base64,' + cliente.foto" style="max-height: 30px" alt="cliente image" />
            </a>
            <span *ngIf="cliente.foto">{{ cliente.fotoContentType }}, {{ byteSize(cliente.foto) }}</span>
          </td>
          <td>{{ cliente.dataNascimento | formatMediumDate }}</td>
          <td>{{ cliente.possuiBeneficioAtivo }}</td>
          <td>{{ cliente.rendaBruta }}</td>
          <td>
            <div *ngIf="cliente.responsavelLegal">
              <a [routerLink]="['/responsavel-legal', cliente.responsavelLegal.id, 'view']">{{ cliente.responsavelLegal.nome }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(cliente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="clientes && clientes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
